PORT=8000
MONGODB_URL=mongodb://localhost:27017/canned-api
NODE_ENV=development

# Firebase config START

FIREBASE_ACC_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_CERT=
FIREBASE_CLIENT_CERT=

# Firebase config END